<!DOCTYPE html>
<html>
<head>
  <title>Clientes</title>
  <link rel="stylesheet" href="../public/Liberia/principal.css"> <!-- Ruta relativa al archivo CSS -->

</head>
<body>

  <% include layouts/partials/header.ejs %>

  <div class="container">

    <% include layouts/partials/navbar.EJS %>

    <div class="content">
      <h2 style="text-align: center; color: #000;">Usuarios</h2>
    
    
      <h1><a href="/signup_priv" style="color: black;">Nuevo usuario</a></h1>
    
      <% if (usuarios && usuarios.length > 0) { %>
        <div class="card-container" style="display: grid; grid-template-columns: repeat(3, 1fr); grid-gap: 20px;">
          <% usuarios.forEach(function(user) { %>
            <div class="card" style="background-color: #333; color: #fff; padding: 20px; border-radius: 5px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
              <h2 style="font-size: 18px; margin-bottom: 10px;"><%= user.name %></h2>
              <p style="margin: 5px 0;">Email: <%= user.email %></p>
              <p style="margin: 5px 0;">Phone: <%= user.phone %></p>
              <p style="margin: 5px 0;">User type: <%= user.profile %></p>
              <p style="margin: 5px 0;">Password: <a style="color:  #FFC107;"><%= user.password %></a></p>
              <a href="/edit/<%= user._id %>" style="color: #cccaaa; margin-right: 10px;">Editar</a>
              <a href="/delete/<%= user._id %>" style="color: #cccaaa; margin-right: 10px;">Eliminar</a>
              <!-- Agrega aquí los campos adicionales que necesites mostrar en la tarjeta -->
            </div>
          <% }) %>
        </div>
      <% } else { %>
        <p style="color: #000;">No se encontraron elementos.</p>
      <% } %>
    
      <!-- Aquí puedes agregar el contenido de la página -->
    </div>
    
    <style>
      .card-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
      }
    
      @media (max-width: 768px) {
        .card-container {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    
      @media (max-width: 480px) {
        .card-container {
          grid-template-columns: repeat(1, 1fr);
        }
      }
    </style>
    
    

    
    
    
    
    
    
  </div>

  <% include layouts/partials/footer.ejs %>
</body>
</html>
