

     
<%- layout('layouts/main') %>



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--Boxicons-->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Lobster&family=Noto+Serif&family=Sniglet&display=swap" rel="stylesheet">
    <!--CSS-->
    <link rel="stylesheet" href="../public/profile.css" type="Text/css">

    <title>Inicio</title>
    <style>
      .bxs-chip{
        font-size: 52px;
      }
      .bxs-user-check{
        font-size: 52px;
      }
      .bxs-receipt{
        font-size: 52px;
      }
      .bxs-chalkboard{
        font-size: 52px;
      }
      .bx-import{
        font-size: 52px;
      }
      .bx-question-mark{
        font-size: 52px;
      }
      .bx-video-recording{
        font-size: 52px;
      }
      .bxl-visual-studio{
        font-size: 52px;
      }
      .bx-bar-chart-alt-2{
        font-size: 52px;
      }
      .bxs-network-chart{
          font-size: 350px;
        }
      .shield{
          height: 95px;
          width: 190px;
      }
      .centered {
        margin-left: auto;
        margin-right: auto;
      }
     .cursoimg{
          width: 300px;
          height: 250px;
      }
      .porvenir{
          width: 500px;
          height: 310px;
      }
      .eduk{
        width: 980px;
          height: 650px;
      }
    </style>
</head>
<body>
    <!--MENU-->
    <nav class="navbar navbar-expand-lg py-1 sticky-top navbar-light bg-blue">
        <div class="container">
          <!-- <a class="navbar-brand" href="#">
              <img class="logo" src="../public/img/ejemplo.jpg" alt="">
          </a> -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">

              <li class="nav-item">
                <a class="nav-link" href="#servicios" style="color:#ffffff">Tus Cursos</a>
              </li>      
              <li class="nav-item">
                 <a class="nav-link" href="#nosotos" style="color:#ffffff">Nosotros</a>
              </li>
                
            </ul>
            <a class="nav-link ms-lg-3 bg-dark text-white" href="/logout">LogOut</a>
          </div>
        </div>
      </nav>
      <!--FIN MENU-->

      <!--Servicios-->
      <section id="servicios">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-8 mx-auto text-xl-center">
                    <h6 class="text-white">Cursos</h6>
                    <H1 class="text-white">Visualiza tus cursos</H1>
                    <p class="text-white">Estos son los cursos que has adquirido</p>
                </div>                  
            </div>
             

          
            <table class="table table-white table-striped" >
              <thead class="bg-dark">
                <tr>
                  <th  style="color:#ffffff">-Verificado-</th>
                  <th  style="color:#ffffff">Curso</th>
                  <th  style="color:#ffffff">Pagado</th>
                  <th  style="color:#ffffff">Usuario</th>
                  <th  style="color:#ffffff">Acción</th>
                </tr>
              </thead> 
              <tbody>
                <% for( var i=0; i < cursosUsuario.length; i++){ %>
                  <% if(cursosUsuario[i].email == user.email){ %>
                    <tr> 
                      <th  style="color:#ffffff"><img src="../public/logo_purple.png" class="shield" alt=""></th>    
                      <th  style="color:#ffffff"><%= cursosUsuario[i].nombre %></th>  
                      <th  style="color:#ffffff"><%= cursosUsuario[i].costo %></th> 
                      <th  style="color:#ffffff"><%= cursosUsuario[i].email %></th>
                      <th><a  style="color:#ffffff" href="cursoUnlocked<%= cursosUsuario[i].nombre %>">Ingresar</a></th>
                    </tr>
                  <% } %>
                <% } %> 
              </tbody>
          </table>



        </div>
    </section>


       <section class="row w-100 py-0 bg-dark" id="nosotos">
        <div class="col-lg-6 col-img">
          <!-- <img src="../public/login.jpeg" alt=""> -->
          <img src="../public/cursos/fondofinal.jpg" class="eduk" alt="">
    
        </div>
        
        <div class="col-lg-6 py-5 bg">
          <div class="container">
            <div class="row">
              <div class="col-md-10 offset-md-1">
                <h6 class="text-primary bg-dark  text-white text-center">No simplemente cursos</h6>
                <h1>La mejor experiencia de aprendizaje online</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil deleniti dolore aliquid, iure dolorem maxime.</p>

                <div class="nosotros d-flex mt-5">
                  <div class="iconbox me-4">
                    <i class='bx bxs-chip'></i>                 
                    </div>
                    <div>
                      <h5>Tecnología</h5>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, vero quibusdam.</p>
                    </div>                    
              </div>

              <div class="nosotros d-flex">
                <div class="iconbox me-5">
                  <i class='bx bxs-user-check'></i>                     
                  </div>
                  <div>
                    <h5>Habilidades blandas</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, vero quibusdam.</p>
                  </div>                    
            </div>

            <div class="nosotros d-flex">
              <div class="iconbox me-5 ">
                <i class='bx bxs-receipt' ></i>                    
                </div>
                <div>
                  <h5>Certificaciones</h5>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, vero quibusdam.</p>
                </div>                    
          </div>
              </div>
            </div>
          </div>
        </div>        
      </section>
           
 
     


      <div class="hero vh-100 d-flex align-items-center bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 mx-auto text-center">
                    <h1 class="display-4 text-decoration  bg-dark  text-white">Prepárate para la WEB 3.0 con nosotros</h1>
                    <p style="color:#ffffff"> <br> <br> <br>Cursos y certificaciones por venir</p>
                </div>
            </div>
        </div>
    </div>

      
         <!--Carousel-->
         <section class="bg-dark">
          <div class="container-fluid">
          
             <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="../public/carousel/ethereum.png" class="d-block w-10 porvenir centered" alt="slide1">
                  </div>
                  <div class="carousel-item">
                    <img src="../public/carousel/Play-de-Azure-1.png" class="d-block w-10 porvenir centered" alt="slide2">
                  </div>
                  <div class="carousel-item">
                    <img src="../public/carousel/dapps.png" class="d-block w-10 porvenir centered" alt="slide3">
                  </div>
                  <div class="carousel-item">
                    <img src="../public/logo_purple.png" class="d-block w-10 porvenir centered" alt="slide4">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div> 
  
          </div>
      </section>

      <footer>
        <div class="footer-content">
          <h3>E-duk</h3>
          <p>Contáctenos al teléfono 445 101 8830</p>
          <p>Correo: gabrieltorres9909@gmail.com</p>
          <ul class="socials">
              <li><a href="https://www.instagram.com/gabrielletorricelli/"><i class="bx bxl-instagram"></i></a></li>
              <li><a href="https://twitter.com/GabrielleTorri1"><i class="bx bxl-twitter"></i></a></li>
              <li><a href="https://www.youtube.com/channel/UCidGV1EU-QJ9HyUrVUd_W8w"><i class="bx bxl-youtube"></i></a></li>
              <li><a href="https://www.linkedin.com/in/gabriel-alberto-torres-mendoza-36276b1b0/"><i class="bx bxl-linkedin-square"></i></a></li>
          </ul>
      </div>
      <div class="footer-bottom">
          <p>copyright &copy;2021 E-duk. App construida por  <span>Garbriel Alberto Torres Mendoza</span></p>
      </div>
    </footer>


    <!--JS Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>

